
.imagenes{
  width: 400px;
  height: 200px;
}
body {
  color: #FFFFFF;
  font-family: verdana;
  text-align: center;
  background-color: #828282;
}

h1 {
  font-size:250%;

}
p,a,table{
  text-align: justify;
  font-size:100%;
  margin-right: 10%;
  margin-left: 10%;
}
tr,td{
  text-align: center;
  font-size:100%;
}

button{
  font-size:100%;
  margin-left: 30%;
  display: block;
  background-color: #8F8F8F;
  border:  outset;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size:90%;
}
